{% extends "bases/base.html" %}

{% load static %}

{% block content %}

<div class="banner-principal">
    <img src="{% static 'imgs/banner.jpg' %}" class="banner-prin">
    <h2> </h2>
</div>

<div class="best">
    <h2> Lo mejor en categorías </h2>
</div>

<div class="columns">
    <div class="center">
        <div class="article-card">
          <div class="content">
            <a href="{% url 'equipos' %}">
            <p class="title">LAPTOPS</p>
            </a>
          </div>
          <img src="{% static 'imgs/laptops.png' %}"/>
        </div>
    </div>
    <div class="center">
        <div class="article-card">
          <div class="content">
            <a href="{% url 'audioyvideo' %}">
            <p class="title">AUDIFONOS</p>
            </a>
          </div>
          <img src="{% static 'imgs/audifonos.png' %}"/>
        </div>
    </div>
    <div class="center">
        <div class="article-card">
          <div class="content">
            <a href="{% url 'audioyvideo' %}">
            <p class="title">RAM</p>
            </a>
          </div>
          <img src="{% static 'imgs/ram.png' %}"/>
        </div>
    </div>
</div>

<div class="colimg">
    <img src="{% static 'imgs/precios.png' %}">
    <div class="col3"> Disfruta de los mejores precios </div>
</div>

<!-- SECCIÓN DE MÁS BUSCADOS -->


<section id="tranding">
  <div class="container-sli1">
    <h1 class="text-center section-heading">Lo más visto recientemente</h1>
  </div>
  <div class="container-sli">
    <div class="swiper tranding-slider">
      <div class="swiper-wrapper">
        {% for product in top_products %}
        <!-- Slide-start -->
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img src="{{ product.image.url }}" alt="Tranding">
          </div>
          <div class="tranding-slide-content">
            <div class="tranding-slide-content-bottom">
              <h2 class="food-name">{{ product.name }}</h2>
              <h3 class="food-name">{{ product.price }} $ </h3>
              <h5>
                {% if product.app_label == 'audioyvideo' %}
                <a href="{% url 'details_a' product.id %}" class="boton-slicer">Detalles</a>
                {% elif product.app_label == 'componentes' %}
                <a href="{% url 'details_c' product.id %}" class="boton-slicer">Detalles</a>
                {% elif product.app_label == 'equipos' %}
                <a href="{% url 'details_e' product.id %}" class="boton-slicer">Detalles</a>
                {% elif product.app_label == 'redes' %}
                <a href="{% url 'details_r' product.id %}" class="boton-slicer">Detalles</a>
                {% endif %}
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Slide-end -->
      </div>
    </div>
  </div>
</section>


<!-- SLICER DE COMPUTADORAS -->

<div class="computadoras">
    <h6 class="best">Lo mejor en computadoras</h6>
    <div class="collage">
        <div class="container">
            <div class="img-wrapper">
                <a href="{% url 'equipos' %}">
                  <img src="{% static 'imgs/Microsoft Surface Laptop 5.png' %}">
                  <div class="hover-text">Microsoft Surface Laptop 5</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="{% url 'equipos' %}">
                  <img src="{% static 'imgs/Lenovo IdeaPad 1.png' %}">
                  <div class="hover-text">Lenovo IdeaPad 1</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="{% url 'equipos' %}">
                  <img src="{% static 'imgs/Dell  XPS 8960.png' %}">
                  <div class="hover-text">Dell XPS 8960</div>
                </a>
            </div>
            <div class="img-wrapper">
              <a href="{% url 'equipos' %}">
                <img src="{% static 'imgs/Lenovo Legion T730.png' %}">
                <div class="hover-text">Lenovo Legion Tower 7i</div>
              </a>
            </div>
        </div>
    </div>
</div>
<!-- BANNER DE SERVICIO -->

<div class="colimg">
  <a href="{% url 'servicio' %}">
    <img src="{% static 'imgs/servicio.png' %}">
    <div class="col3"> Ofrecemos servicios, solícitalos aquí </div>
  </a>
</div>

<!-- CARDS DE DESCRIPCIÓN DE SERVICIO -->
<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'imgs/camarasdeseguridad.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Instalación de cámaras</h2>
          <p>
            En JR Sistemas entendemos que la seguridad de su hogar u empresa es una prioridad. Por eso, ofrecemos servicios especializados de instalación de cámaras de seguridad, diseñados para proporcionar tranquilidad y protección las 24 horas del día. Nuestro equipo de técnicos certificados utiliza tecnología y productos de vanguardia para garantizar una cobertura completa y eficaz.
          </p>
          <a href="{% url 'servicio' %}" class="read-more">
            Solicitalo aquí <span class="sr-only"> Rellenando nuestro formulario </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
</article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'imgs/hardware.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Mantenimiento de Hardware o Software</h2>
          <p>
            Aquí en JR Sistemas hacemos asistencia integral brindada a los componentes físicos de los sistemas informáticos y dispositivos relacionados para garantizar que funcionen correcta y eficientemente. Como también el mantenimiento del Software para agilizar las operaciones de su equipo.
          </p>
          <a href="{% url 'servicio' %}" class="read-more">
            Solicitalo aquí  <span class="sr-only">Rellenando nuestro formulario</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="{% static 'imgs/consolas.png' %}" alt="" />
        </figure>
        <div class="article-body">
          <h2>Revisión completa de equipos y consolas</h2>
          <p>
            En JR Sistemas también contamos con una revisión completa a diversos equipos de computación y ciertas consolas, con la intención de que otorguen el mayor tiempo de vida en correcto funcionamiento.
          </p>
          <a href="{% url 'servicio' %}" class="read-more">
            Solicitalo aquí  <span class="sr-only">Rellenando nuestro formulario</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
</section>

<br><br><br>
{% endblock  %}