{% extends "bases/base.html" %}
{% block content %}

<div class="login">
    <div class="login-screen">
        <h2 class="app-title"> Recuperar contraseña </h2>
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                <label> Ingrese su correo </label> {{ form.email }}
                <br> <br>
                <input type="submit" class="button" value="Enviar enlace de recuperación"/>
            </form>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock  %}