{% extends "bases/base.html" %}
{% block content %}

{% if validlink %}


<div class="login">
    <div class="login-screen">
        <h2 class="app-title"> Reestablecimiento de contraseña </h2>
        <div class="login-form">
            <form method="post">
                {% csrf_token %}

                {{ form.new_password1.errors }}
                <label for="id_new_password1"> Nueva contraseña: </label>
                {{ form.new_password1 }}

                {{ form.new_password2.errors }}
                <label for="id_new_password2"> Confirmar contraseña: </label>
                {{ form.new_password2 }}
                <br><br>
                   <input type="submit" class="button "value="cambiar contraseña"/>
            </form>
            {% else %}
            <div class="texts">
                <h1> Enlace inválido, ya ha sido utilizado </h1>
                <a href="{% url 'password_reset' %}"> <button>Solicite uno nuevo</button> </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock  %}
